/* Component App*/
.content {
  position: absolute;
  padding-top: 200px;
  text-align: center;
  height: 100vh;
  width: 100vw;
}
.content .number {
  background-color: #fff;
  color: #5d5b5b;
  padding: 25px 25px;
  border-radius: 50%;
  margin: 30px auto;
  width: 100px;
  height: 100px;
  text-align: center;
  border: 8px solid #89bad9;
}
.content .btn-control {
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  width: 100px;
  padding: 5px 15px;
  margin: 0 5px;
  font-size: 30px;
  background-color: #89bad9;
  border: none;
  color: #fff;
  border-radius: 50px;
  transition: all 0.5s;
}
button:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.back-light {
  background-color: #08428c;
  color: #08428c;
}
.back-dark {
  background-color: #00193a;
  color: #00193a;
}
